/*Styling file for crew.html file*/
body {
  background-image: url(../assets/crew/background-crew-desktop.jpg);
}

.member-slide {
  max-width: 1100px;
  height: 670px;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 2rem auto;
}

.crew-details > div {
  padding: 1rem;
}
.crew-details,
.member-details {
  flex-direction: column;
}
.member-details h1 {
  font-family: "Bellefair", serif;
  font-size: 3em;

  color: var(--color3);
  margin-bottom: 1.77rem;
}
.member-details h2 {
  font-family: "Bellefair", serif;
  font-size: 2.25em;
  color: rgb(255, 255, 255, 0.4);
  margin-bottom: 1rem;
}
.member-details p {
  color: var(--color2);
}

.indicators {
  display: flex;
  justify-content: center;
}
.indicators span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0.3rem;
  border: 2px solid #000;
  cursor: pointer;
}
.indicators span:hover {
  background-color: rgb(255, 255, 255, 0.5);
}

/*Queries for devices with max-width :930px*/
@media screen and (max-width: 930px) {
  body {
    background-image: url(../assets/crew/background-crew-tablet.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .member-slide {
    flex-direction: column;
    text-align: center;
  }
  .member-image img {
    width: 390px;
  }
  .title h2,
  .title span {
    font-size: 1.7em;
  }
  .member-details h1,
  .member-details h2 {
    font-size: 2em;
  }
}

/*Queries for devices with max-width :700px*/
@media screen and (max-width: 700px) {
  body {
    background-image: url(../assets/crew/background-crew-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .member-image img {
    width: 200px;
  }
}
